
<div>
    <nav style="background:linear-gradient(lightseagreen,blue);" class="navbar navbar-expand-sm navbar-dark Fixed-top" >
          
        <span class="open-slide">
            
        
    
      
          <a routerLink="/admin">abc</a>
            <ul class="navbar-nav">
                <button type="button" style="text-align: center; margin-left:500% ;"class="btn btn-primary mr-2" data-toggle="modal" data-target="#LoginModal">
                    Login
                  </button>
              
                  <button type="button" style="text-align: center; margin-left:10px ;" class="btn btn-primary mr-2" data-toggle="modal" data-target="#exampleModal">
                    Signup
                  </button>
            </ul>
       
         
        </span>
    </nav>
<!--     
    <div class="col-xs-3 col-sm-3 col-md-3" *ngFor="let product of books"  >
        <div class="card align-items-center" style="width: 18rem; margin:10px; " *ngIf="hide">
          <img src={{product.image}} class="card-img-top" alt="...">
            <div class="card-body">
             
                <h5 class="card-title" id="namepr">Type : {{product.booktype}}</h5>
                <p class="card-text"></p>
                <h6 class="card-title" >Book Name: {{product.bookname}}  <span></span></h6>
                  <h6 class="card-title" >Author Name:   {{product.authorname}} <span></span></h6>
                  <td><input type="button" value="delete"  (click)="deleteProduct(product.bookid)"/></td>
                  <td><input type="button" value="update"  (click)="updateProduct(product)" (click)="Hide()"/></td>
            </div>
        </div>
      </div> -->
      
      <!-- <div *ngIf="flag">
        <h2>Update Product</h2>
        <label>product name</label>
        <form (ngSubmit)="
        updateProductdetails()">
            <label>PId</label>
<input type="number" name="pid" [(ngModel)]="bookid" readonly/><br>
<label>book name</label>
<input type="text" name="pname" [(ngModel)]="bookname"/><br>
<label>booktype</label>
<input type="number" name="price" [(ngModel)]="booktype"/><br>
<label>authorname</label>
<input type="text" name="authorname" [(ngModel)]="authorname"/><br>
<input type="submit" value="submit"/>
<input type="reset" value="reset"/>

    </form>
    </div>
    {{storemsg}}
     -->
<!-- <div *ngIf="flag"></div>
     <form (ngSubmit)="
     updateProductdetails()">
        <div class="container">
          <h1>Update</h1>
          <hr>
       <label for="FirstName"><b>BookId</b></label>
          <input type="text" type="number" name="pid" [(ngModel)]="bookid" readonly />
      
          <label for="lastName"><b>Book Name</b></label>
          <input type="text" name="pname" [(ngModel)]="bookname">
       <label for="email"><b>booktype</b></label>
          <input type="text"  name="price" [(ngModel)]="booktype">
      
          <label for="psw"><b>Author name</b></label>
          <input type="text" name="authorname" [(ngModel)]="authorname">
      
      
      
         
          <button type="submit" class="registerbtn">Register</button>
        </div>
     </form>
</div> -->
      
                                               <!-- End top Home system ############-->      
    
        
    
                                       <!--Header Image Section ####################### -->
    
    
          
    
    
                          
                             <!--End Services Section############################################# -->
                                     <!--############################################# -->
                             <!--Start Contact Section############################################# -->
    
    
    
    
        
                                               <!--Singup-->
                           <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Signup Here</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          <form #ProductRef="ngForm" >
              
            
      <div class="form-group">
        <label for="fname">First Name</label>
        <input type="text" class="form-control" id="firstname"  required name="firstname" placeholder="First Name" ngModel>
      </div>
            <div class="form-group">
        <label for="lname">Last Name</label>
        <input type="text" class="form-control" name="lastname" required id="lastName" placeholder="LastName" ngModel>
      </div>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" ngModel>
      </div>
            <div class="form-group">
        <label for="pass">Password</label>
        <input type="password" class="form-control" required id="password" name="password" placeholder="Enter Password" ngModel> 
      </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
    </form>
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>

                                <!-- End Singup -->
                                <!-- Login-->
      <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="LoginModelTitle">Login Here</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          <form #loginform="ngForm" (ngSubmit)="loginUser()">
              
            <div class="form-group">
        <label for="loginemail">Email</label>
        <input type="text" class="form-control" id="email" name="email"  placeholder="Choose unique UserName">
      </div>
    
            <div class="form-group">
        <label for="loginpassword">Password</label>
        <input type="password" class="form-control" id="loginpassword" name="password"  placeholder="Enter Password">
      </div>
            <button type="submit" class="btn btn-primary">Submit</button>
    </form>
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>
    
    
    
    <!-- <div class="col-xs-3 col-sm-3 col-md-3" *ngFor="let product of books">
      <div class="card align-items-center" style="width: 18rem; margin:10px; ">
        <img src={{product.image}} class="card-img-top" alt="...">
          <div class="card-body">
           
              <h5 class="card-title" id="namepr">Type : {{product.booktype}}</h5>
              <p class="card-text"></p>
              <h6 class="card-title" >Book Name: {{product.bookname}}  <span></span></h6>
                <h6 class="card-title" >Author Name:   {{product.authorname}} <span></span></h6>
               
           
          </div>
      </div>
    </div> -->
    
    
    <!-- <table class="table">
      <tr>
          <th>Pid</th>
          <th>Product name</th>
          <th>Price</th>
          <th>
              images
          </th>
          <th>delte Product</th>
          <th>update</th>
      </tr>
      <tr *ngFor="let product of books">
        
          <td>{{product.bookid }}</td>
          <td>{{product.bookname}}</td>
          <td>{{product.authorname}}</td>
          
          <td>{{product.booktype}}</td>
          <td><img src={{product.image}} width="200px" height="200px"></td>
         
      </tr>
    </table>  -->
    
                         
    
    