/* You can add global styles to this file, and also import other style files*/
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.550),rgba(0, 0, 0, 0.550)) ;
    background-size: cover;
    background-color: black;
 }