@charset "ISO-8859-1";
body{
   margin: 0%;
  
   background-size:cover;
   background-repeat: no-repeat;
   font-family: sans-serif;
}

.content-form{
   margin-top: 10%;
   margin-left: 30%;
   width: 40%;
   border: 0px solid rgb(247, 199, 231);
   
}

.lable{
   text-transform: uppercase;
   color: white;
   padding: 5% 0 0 0;
   text-align: center;
   font-size:25px;
   font-weight: 500;
}
.form-controler{
   margin: 0% 0%;
}
.form-controler input{
   background-color: white;
   border: black 1px solid;
   padding: 10px;
   font-size:small;
   width: 100%;
   margin: 5% 0;
   color: white;
}
.form-controlers input{
   background-color: rgb(14, 13, 13);
   border: white 1px solid;
   padding: 10px;
   font-size:small;
   width: 100%;
   margin: 2% 0;
   color: white;
}
/* .form-controler input:hover{
   border: #161315 1px solid;
} */
/* .form-controlers input:hover{
   border: #161516 1px solid;
} */
.form-controlers button{
   background-color: rgb(201, 25, 48);
   padding: 2% 10px;
   font-size:medium;
   width: 100%;
   margin: 4% 0;
   color: #fdf9f9;
   text-transform: uppercase;
}
#submit:hover{
   color: rgb(253, 251, 251);
   transition:ease-out .4s;
}