@charset "ISO-8859-1";
body{
   margin: 0%;
   
   background-size:cover;
   background-repeat: no-repeat;
   font-family: sans-serif;
}

.content-form{
   margin-top: 10%;
   margin-left: 30%;
   width: 40%;
   border: 0px solid rgb(144, 216, 210);
  
}

.lable{
   text-transform: uppercase;
   color: white;
   padding: 5% 0 0 0;
   text-align: center;
   font-size:25px;
   font-weight: 500;
}
.form-controler{
   margin: 0% 0%;
}
.form-controler input{
   background-color: rgb(17, 4, 4);
   border: white 1px solid;
   padding: 10px;
   font-size:small;
   width: 100%;
   margin: 5% 0;
   color: white;
}
.form-controlers input{
   background-color: rgba(14, 4, 4, 0.993);
   border: white 1px solid;
   padding: 10px;
   font-size:small;
   width: 100%;
   margin: 2% 0;
   color: white;
}
/* .form-controler input:hover{
   border: #d6047f 1px solid;
}
.form-controlers input:hover{
   border: #d6047f 1px solid;
} */
.form-controlers button{
   background-color: rgb(230, 6, 6);
   border: #070707 1px solid;
   padding: 2% 10px;
   font-size:medium;
   width: 100%;
   margin: 2% 0;
   color: #f3f0f2;
   text-transform: uppercase;
}
#submit:hover{
   background-color: #f12b5c;
   color: rgb(252, 252, 252);
   transition:ease-out .4s;
}