@charset "ISO-8859-1";
body{
   margin: 0%;
   background-color: crimson;
   background-size:cover;
   background-repeat: no-repeat;
   font-family: sans-serif;
}

.content-form{
   margin-top: 10%;
   margin-left: 30%;
   width: 40%;
   border: 0px solid rgb(236, 182, 214);
   
}

.lable{
   text-transform: uppercase;
   color: white;
   padding: 5% 0 0 0;
   text-align: center;
   font-size:25px;
   font-weight: 500;
}
.form-controler{
   margin: 0% 0%;
}
.form-controler input{
   background-color: rgb(5, 8, 10);
   border: white 1px solid;
   padding: 10px;
   font-size:small;
   width: 100%;
   margin: 5% 0;
   color: white;
}
.form-controlers input{
   background-color: rgb(15, 15, 15);
   border: white 1px solid;
   padding: 10px;
   font-size:small;
   width: 100%;
   margin: 2% 0;
   color: white;
}
/* .form-controler input:hover{
   border: #e4076e 1px solid;
} */
.form-controlers input:hover{
   border: e4076e 1px solid;
}
.form-controlers button{
   background-color: rgb(236, 65, 65);
   border: e4076e 2px solid;
   padding: 2% 10px;
   font-size:medium;
   width: 100%;
   margin: 4% 0;
   color: white;
   text-transform: uppercase;
}s
#submit:hover{
   background-color: e4076e;
   color: rgb(255, 255, 255);
   transition:ease-out .4s;
}