<div class="container" style="color: black; background-color: bisque;">
    <div class="users" align="center">
       <p style="color: black;"><b>Welcome to Surabhi</b></p>
    </div>
 
    <div class="container">
       <div *ngFor='let item of item' class="inline-setter">
          <app-item [item]='item'></app-item>
       </div>
    </div>
 </div>